*{
    font-family: Microsoft JhengHei;
}
.main{
        display: flex;
        justify-content: center;
        align-content: center;      
        flex-wrap: wrap;
        margin-top: 40px;
}
.maintenance{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
img{
    max-width: 100%;
    height: auto;
}
.maintenancetitle{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    line-height: 25px;
}
.maintenance p {
    margin: 10px;
    font-size: 22px;
    font-weight: bolder;
}
.contact{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    max-width: 100%;
    height: auto;
}
.hide-in-phone{
    display: none;
}
@media only screen and (min-width:480px) {
    .hide-in-phone{
        display: block;
    }
}
.contactinfo{
    margin: 30px;
}
.contactinfo p{
    line-height: 30px;
    
}
.contactinfo p span{
    font-weight:  600;
    font-size: 20px;
}